/* Debugging styles */
* {
    border: 1px solid red;
}

/* General tag styles */
html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    font-size: 1.2rem ;
}

/* Page layout and class styles */

.container {
    max-width: 675px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.title {
    font-family: 'Rock Salt', cursive;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    /* For smaller displays */
    line-height: 4rem;
}

.list-container {
    width: 90%;
    margin: 0 auto;
    text-align: left;
}

.list {
    list-style-type: none;
    padding: 1rem;
    border-top: 1px solid lightgrey;
}

.list-item {
    line-height: 1.5rem;
    padding-top: 1rem;
}

.checkbox {
    padding-right: 1rem;
    cursor: pointer;
}

.remove {
    padding-left: 1rem;
    cursor: pointer;
}

.done {
    text-decoration: line-through;
    color: darkred;
}

/* Input styles */

#add-item {
    text-align: center;
    padding: .5rem;
}

#add-item input {
    line-height: 2rem;
    width: 70%;
}

button.add {
    padding: 0.4rem 0.8rem;
    background-color: forestgreen;
    color: black;
    border-radius: 5px;
}
